@use 'base/__variables' as *;

@mixin view($breakpoint) {
	@if $breakpoint == mobile-max {
		@media only screen and (min-width: 567px) {
			@content;
		}
	}
	@if $breakpoint == mobile {
		@media only screen and (min-width: 767px) {
			@content;
		}
	}

	@if $breakpoint == tablet {
		@media only screen and (min-width: 1023px) {
			@content;
		}
	}

	@if $breakpoint == small-desktop {
		@media only screen and (min-width: 1280px) {
			@content;
		}
	}

	@if $breakpoint == desktop {
		@media only screen and (min-width: 1440px) {
			@content;
		}
	}
}

@mixin container() {
	margin: 0 auto;
	padding: 0.5em 1em;
	width: 100%;
	max-width: 1400px;

	@include view(tablet) {
		padding: 1.5em 2em;
	}
}

@mixin sectionPadding {
	padding: 1.5em 0;

	@include view(tablet) {
		padding: 3em 0;
	}
}

@mixin btn {
	transition: all 0.3s;
	background-color: $white;
	padding: 0.5em 1em;
	color: $dark;
	letter-spacing: 0.5px;
	text-transform: uppercase;

	&:hover {
		background-color: $dark;
		color: $white;
	}
}

@mixin btnCta {
	@include btn;
	background-color: $red;
	color: $white;

	&:hover {
		background-color: $dark;
	}
}
